In [2]:
# !pip3 install matplotlib
# !pip3 install tabula-py
# !pip3 install PyPDF2
# !pip3 install pdfminer.six
# !pip3 install PyMuPDF
# !pip3 install camelot-py
# !pip3 install --upgrade pip
# !pip3 install geopandas
# !pip3 install plotly
# !pip3 install pandas
# !pip3 install pdfplumber
# !pip3 install scipy
# !pip3 install --upgrade pandas

In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpt
import os
import PyPDF2
import tabula
import tabulate
import pdfminer
import geopandas as gpd
import fiona
from glob import glob
import plotly.express as px
from shapely.geometry import Point
import pdfplumber
import scipy

In [1]:
def convert_data (file_path):
    """
    Function to convert files of appropriate structure to csv format, creating point object with files that have lat and lon values

    Args:
        file_path (str): File Path to open and convert to csv file format
    """
    df = pd.read_csv(file_path)
    output_folder_path = os.path.join("/Data Sets/Analysis Data/",os.getcwd())
    # print(output_folder_path)
    output_file_name = file_path.split('/')[-1].split('.')[0] + ".csv"
    output_destination = os.path.join(output_file_name, output_folder_path)
    if 'lat' in str(df.columns) and 'lon' in str(df.columns):
        lat = ""
        lon = ""
        for col in df.columns:
            if str(col).endswith('lat'):
                lat = str(col)
            elif str(col).endswith('lon'):
                lon = str(col)
        df_geo = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df[lat],df[lon]))
        if not os.path.exists(output_folder_path):
            os.make_dir(output_folder_path)
        df_geo.drop(columns=[lat, lon]).to_csv(output_destination, index = False)
        print("{} saved in {}".format(output_file_name, output_folder_path))
    else:
        df.to_csv(output_destination, index=False)
        print("{} saved in {}".format(output_file_name, output_folder_path))

In [16]:
# data_path = input("include relative path to the dataset: (should work for windows/mac: )")
data_path = os.getcwd()+"/Data Sets/CT_GTFS/stop_times.txt"
# with open(data_path, 'r') as f:
#     print(f.read())
convert_data(data_path)
# shape = pd.read_csv(data_path)
# shape_geo = gpd.GeoDataFrame(shape)

stop_times.csv saved in /Users/sulemanbasit/PycharmProjects/Calgary-Transit-Economic-Gap-Analysis

In [7]:
# community_path = os.getcwd() + "/Community Profiles/"
# ward_path = os.getcwd() + "/ward_profiles/"

# if os.path.isdir(ward_path):
#     try:
#         # List all files in the specified folder
#         files = os.listdir(ward_path)

#         # Extract file names
#         file_names = [file for file in files if os.path.isfile(os.path.join(ward_path, file)) and "ward" in file]

#         # print("File names in the folder:")
#         # for file_name in file_names:
#         #     print(file_name)

#     except FileNotFoundError:
#         print(f"The specified folder '{ward_path}' does not exist.")
#     except PermissionError:
#         print(f"Permission denied to access '{ward_path}'.")

# # data = camelot.read_pdf(ward_path+file_names[0])

In [5]:

def save_to_csv(df, output_folder, file_name):
    """AI is creating summary for save_to_csv

    Args:
        df (Pandas Data Frame): Contains data frame that needs to be converted and saved as csv
        output_folder (Str): Destination path where df needs to be saved
        file_name (Str): File name that df needs to be saved as
    """
    # Check if the output folder exists, if not, create it
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    # Define the output file path
    output_file_path = os.path.join(output_folder, file_name)
    
    # Save the DataFrame to CSV in the output folder
    df.to_csv(output_file_path, index=False)
    print(f"DataFrame saved to: {output_file_path}")

In [56]:
# save_to_csv(combined_df, os.getcwd()+"/Data Sets/Analysis Data", "Ward1.csv")

DataFrame saved to: /Users/sulemanbasit/Project/Calgary-Transit-Economic-Gap-Analysis/Data Sets/Analysis Data/Ward1.csv

In [6]:
community_data_path = os.getcwd()+"/Data Sets/Analysis Data/Community Profiles Compiled.xlsx"

In [7]:
comm_df = pd.read_excel(community_data_path)
# comm_df.head()

In [8]:
comm_df.head()
# summary_stat = comm_df.describe()
# print(type(summary_stat))
# comm_df.set_index("Community Name", inplace=True)

,Community Name,Population in private households,0 to 14 years,65 to 84 years,85 years and over,Population aged 15 years and over in private households,In the labor force,Employed,Self-Employed,Unemployed,...,15 to 29 minutes,30 to 44 minutes,45 to 59 minutes,Employed labour force aged 15 years and over in private households3,Between 5 a.m. and 5:59 a.m.,Between 6 a.m. and 6:59 a.m.,Between 7 a.m. and 7:59 a.m.,Between 8 a.m. and 8:59 a.m.,Between 9 a.m. and 11:59 a.m.,Between 12 p.m. and 4:59 a.m.
0,Abbeydale,5925,1200,605,50,4725,3115,2650,295,470,...,1260,465,105,2335.0,290,420,530,300,275,525
1,Acadia,9915,1280,1555,290,8635,5765,4985,775,780,...,1675,565,160,3840.0,245,735,1050,795,495,525
2,Albert Park/Radisson Heights,6740,1160,675,80,5580,3415,2905,400,510,...,1195,435,140,2430.0,235,500,535,280,360,525
3,Altadore,7290,1475,565,70,5810,4480,4105,900,375,...,1155,195,40,2245.0,65,330,770,515,350,215
4,Applewood Park,6830,1155,700,40,5680,3775,3180,425,595,...,1535,500,150,2790.0,295,550,490,370,465,620

In [9]:

# Initialize an empty list to hold dictionaries of row data
rows_to_append = []

# Loop through rows of comm_df and append data to rows_to_append list
for index, row in comm_df.iterrows():
    comm_low = row['Population in private households to whom low income concepts are applicable (Number in low income)']
    comm_pop = row['Population in private households']
    comm_seniors = row['65 to 84 years']
    comm_lab_trans = (comm_pop/row["Employed labour force aged 15 years and over in private households"])*row['Public transit']
    comm_rent = row["Per cent households with income spending 30% or more total income on shelter (Renter)"]
    
    # Calculate index values
    low_income_index = (comm_low / comm_pop) * 100
    seniors_index = (comm_seniors / comm_pop) * 100
    labour_transit_index = (comm_lab_trans / comm_pop) * 100
    rent_index = comm_rent * 100
    
    # Create a dictionary for the row and append it to the list
    index_columns = {"Community Name": row['Community Name'], "Low Income Index": low_income_index, "Seniors Index": seniors_index, "Public Transit Index": labour_transit_index, "Rent Index": rent_index}
    rows_to_append.append(index_columns)

# Convert the list of dictionaries to a DataFrame
first_index_df = pd.DataFrame(rows_to_append)

In [10]:
first_index_df.describe()

       Low Income Index  Seniors Index  Public Transit Index  Rent Index
count        200.000000     201.000000            201.000000  200.000000
mean           9.199300      15.747882              8.491043   32.075000
std            5.025992      12.932667              5.359082   11.326998
min            0.000000       0.000000              0.000000    0.000000
25%            5.935447       8.910412              5.197505   29.000000
50%            8.549317      13.351499              7.586207   33.000000
75%           11.965880      17.813765             11.250000   38.000000
max           28.947368      78.712221             38.625954   70.000000

In [33]:
output_folder_path = os.getcwd()+"/Data Sets/Analysis Data"

In [34]:
#Z-Score method manually
pop_mean = comm_df['Population in private households'].mean()
pop_std = comm_df['Population in private households'].std()
# pop_max = comm_df['Population in private households'].max()
# pop_min = comm_df['Population in private households'].min()

medinc_mean = comm_df["Median household income of private households"].mean()
medinc_std = comm_df["Median household income of private households"].std()
# medinc_max = comm_df['Median household income of private households'].max()
# medinc_min = comm_df['Median household income of private households'].min()

low_mean = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].mean()
low_std = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].std()
# low_max = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].max()
# low_min = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].min()

trans_mean = ((comm_df["Population in private households"]/comm_df["Employed labour force aged 15 years and over in private households"])*comm_df['Public transit']).mean()
trans_std = ((comm_df["Population in private households"]/comm_df["Employed labour force aged 15 years and over in private households"])*comm_df['Public transit']).std()
# trans_max = ((comm_df["Population in private households"]/comm_df["Employed labour force aged 15 years and over in private households"])*comm_df['Public transit']).max()
# trans_min = ((comm_df["Population in private households"]/comm_df["Employed labour force aged 15 years and over in private households"])*comm_df['Public transit']).min()

rent_mean = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].mean()
rent_std = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].std()
# rent_max = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].max()
# rent_min = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'].min()

In [35]:
row, col = comm_df.shape
z_rows_to_append = []
for c in range(row):
    community = comm_df['Community Name'][c]
    
    pop = comm_df['Population in private households'][c]
    # pop_ss = (pop-pop_max)/(pop_max-pop_min)
    z_pop_score = (pop-pop_mean)/pop_std
    
    med = comm_df['Median household income of private households'][c]
    # med_ss = (med-medinc_max)/(medinc_max-medinc_min)
    z_med_score = (med-medinc_mean)/medinc_std
    
    trans = ((comm_df["Population in private households"]/comm_df["Employed labour force aged 15 years and over in private households"])*comm_df['Public transit'])[c]
    # trans_ss = (trans-trans_max)/(trans_max-trans_min)
    z_trans_score = (trans-trans_mean)/trans_std
    
    rent = comm_df['Per cent households with income spending 30% or more total income on shelter (Renter)'][c]
    # rent_ss = (rent-rent_max)/(rent_max-rent_min)
    z_rent_score = (rent-rent_mean)/rent_std
    
    low = comm_df['Population in private households to whom low income concepts are applicable (Number in low income)'][c]
    # low_ss = (low-low_max)/(low_max-low_min)
    z_low_score = (low-low_mean)/low_std

    z_result = z_pop_score+z_trans_score+z_rent_score+z_low_score-z_med_score

    column_df = {"Community Name": community, "Z Score": z_result}
    z_rows_to_append.append(column_df)


Z_index_df = pd.DataFrame(z_rows_to_append)

In [36]:
z_max = Z_index_df['Z Score'].max()
z_min = Z_index_df['Z Score'].min()

In [37]:
row, col = Z_index_df.shape
z_ss_rows = []
for c in range(row):
    community = Z_index_df["Community Name"][c]
    z_score = Z_index_df['Z Score'][c]

    z_ss_result = (z_score-z_max)/(z_max-z_min)

    column_df = {"Community Name": community, "Z Score": z_ss_result}
    z_ss_rows.append(column_df)
    
z_ss_index_df = pd.DataFrame(z_ss_rows)

In [38]:
z_ss_index_df.head()

                 Community Name   Z Score
0                     Abbeydale -0.600804
1                        Acadia -0.494060
2  Albert Park/Radisson Heights -0.511079
3                      Altadore -0.684875
4                Applewood Park -0.584498

In [ ]:
save_to_csv(first_index_df, output_folder_path, "First Demand Index.csv")

In [39]:
save_to_csv(z_ss_index_df, output_folder_path, 'Z Standardized Demand Index.csv')

DataFrame saved to: /Users/sulemanbasit/PycharmProjects/Calgary-Transit-Economic-Gap-Analysis/Data Sets/Analysis Data/Z Standardized Demand Index.csv